In [15]:
import pandas as pd

In [24]:
data = pd.read_csv('IMDb Movies India.csv',encoding='ISO-8859-1')

In [25]:
data.dropna(inplace=True)

In [28]:
data.head()

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
3,2019,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
5,1997,147 min,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
6,2005,142 min,"Drama, Romance, War",7.4,"1,086",Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma
8,2012,82 min,"Horror, Mystery, Thriller",5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia

In [12]:
data['Year'].dtype

dtype('O')

In [27]:
data['Year'] = data['Year'].str.extract(r'(\d+)').astype(int)

In [26]:
data = data.drop("Name",axis=1)

In [30]:
from sklearn.preprocessing import OneHotEncoder

# Encoding genre, director, and actors
encoder = OneHotEncoder()
encoded_features = encoder.fit_transform(data[['Genre', 'Director', 'Actor 1','Actor 2','Actor 3']])

In [31]:
encoded_df = pd.DataFrame(encoded_features.toarray(), columns=encoder.get_feature_names_out(['Genre', 'Director', 'Actor 1','Actor 2','Actor 3']))

# Combine the encoded features with the original dataset
data_encoded = pd.concat([data, encoded_df], axis=1).drop(['Genre', 'Director', 'Actor 1','Actor 2','Actor 3'], axis=1)

# Display the first few rows of the processed dataset
data_encoded.head()

,Year,Duration,Rating,Votes,Genre_Action,"Genre_Action, Adventure","Genre_Action, Adventure, Biography","Genre_Action, Adventure, Comedy","Genre_Action, Adventure, Crime","Genre_Action, Adventure, Drama",...,Actor 3_Zara Shah,Actor 3_Zareen Khan,Actor 3_Zarine Ali,Actor 3_Zayed Khan,Actor 3_Zeenat Aman,Actor 3_Zeeshan Khan,Actor 3_Zeishan Quadri,Actor 3_Zenobia Shroff,Actor 3_Zoya Hussain,Actor 3_Zulfi Sayed
1,2019.0,109 min,7.0,8,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019.0,110 min,4.4,35,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1997.0,147 min,4.7,827,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2005.0,142 min,7.4,"1,086",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2012.0,82 min,5.6,326,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0